In [1]:
import mysql.connector
from tabulate import tabulate

#to run this code you may need to install using the following: 
# pip install mysql-connector-python
# pip install tabulate


def connect_db():
     mydb = mysql.connector.connect(
      host="35.223.161.145",
      user="root",
      password="Allie2207"
      )
     return mydb
mydb= connect_db()
mycursor = mydb.cursor(buffered=True)
mycursor.execute("use flashcards")

In [2]:
#user table
mycursor.execute("SELECT * FROM users")
myresult = mycursor.fetchall()
print(tabulate(myresult, headers=['UserID', 'UserName', 'Password', 'Email'], tablefmt='psql'))

+----------+------------+-------------+-----------------------------+
|   UserID | UserName   | Password    | Email                       |
|----------+------------+-------------+-----------------------------|
|        1 | Allie      | Password123 | allie@gmail.com             |
|        2 | Joe        | hello123    | joe@gmail.com               |
|        3 | Bob        | myPassword1 | bob@gmail.com               |
|        4 | Hannah     | 123abc      | hannah@gmail.com            |
|        5 | sam-terry  | quizzex     | sate1851@colorado.edu       |
|        6 |            |             |                             |
|        7 | BenRulez   | 123456789   | benjamin.price@colorado.edu |
|        8 | Tylerc     | Cranmer5    | geocranmer@yahoo.com        |
|        9 | Claire     | Venmo17     | clargall@hotmail.com        |
|       10 | teewhy     | 12345       | geocranmer@yahoo.com        |
|       11 | amoini     | kainoe123   | audreynoe.@gmail.com        |
|       12 | test1      | test1       | test@test.com               |
+----------+------------+-------------+-----------------------------+

In [3]:
#deck table
#can perform a SQL join on deck table and user table using 'username'

mycursor.execute("SELECT * FROM decks")
myresult = mycursor.fetchall()
print(tabulate(myresult, headers=['iddecks', 'deckname', 'public', 'category', 'user'], tablefmt='psql'))

+-----------+-------------------------+----------+------------------+-----------+
|   iddecks | deckname                |   public | category         | user      |
|-----------+-------------------------+----------+------------------+-----------|
|         1 | Data Structures         |        1 | computer science | Bob       |
|         2 | Operating Systems       |        1 | computer science | Bob       |
|         4 | Chemistry               |        1 | Science          | Hannah    |
|         7 | Algorithms              |        0 | other            | Bob       |
|         8 | Spanish Vocab           |        0 | spanish          | BenRulez  |
|        10 | Wildlife Facts & Stuff  |        0 | other            | BenRulez  |
|        11 | Shakespeare Quotes      |        0 | history          | BenRulez  |
|        14 | Spanish 101             |        0 | spanish          | Claire    |
|        20 | Quechua                 |        1 | other            | sam-terry |
|        24 | اللغة العربية           |        1 | other            | sam-terry |
|        34 | Fun Words               |        1 | other            | BenRulez  |
|        38 | Masculinity Tips        |        0 | other            | sam-terry |
|        40 | Snowboard Brands        |        0 | other            | teewhy    |
|        43 | Robotics                |        1 | softwareDev      | amoini    |
|        44 | Robotics                |        0 | softwareDev      | amoini    |
|        45 | Snowboard / Brand Names |        0 | other            | Tylerc    |
|        46 | Python                  |        1 | softwareDev      | Tylerc    |
|        47 | Science                 |        0 | other            | Allie     |
+-----------+-------------------------+----------+------------------+-----------+

In [4]:
id = mycursor.lastrowid
sql = "UPDATE decks SET deckname='Chemistry', category='Science',public=1 WHERE iddecks = 4;"
mycursor.execute(sql)
mydb.commit()

In [10]:
#flashcard table 
#can join cards table and deck tables on card.cardID = deck.deckID, and can join deck.user = user.UserName so all table can interact with each other 

mycursor.execute("SELECT * FROM cards")
myresult = mycursor.fetchall()
print(tabulate(myresult, headers=['cardID', 'deckID', 'cardFront', 'cardBack'], tablefmt='psql'))

+----------+----------+--------------------------------------------+-------------------------------------------------------------------------------------------------------------------------+
|   cardID |   deckID | cardFront                                  | cardBack                                                                                                                |
|----------+----------+--------------------------------------------+-------------------------------------------------------------------------------------------------------------------------|
|        1 |        1 | Binary Search Tree                         | rooted binary tree whose nodes store key greater than keys in the nodes left subtree and less than in right subtree     |
|        2 |        1 | Hash table                                 | uses a hash function to compute an index into an array of buckets or slots, from which the desired value can be found   |
|        3 |        1 | Linked List                                | linked list consists of nodes where each node contains a data field and a reference(link) to the next node in the list. |
|        4 |        2 | Kernel                                     | Provides file-system, CPU scheduling, and other OS functionality through system calls                                   |
|        5 |        2 | Mode Bit                                   | The computer uses the mode bit to determine if the system is in kernel or user mode.                                    |
|        6 |        2 | Process                                    | Program in execution. Operating-system processes execute system code, and user processes execute user code.             |
|       23 |        8 | Hola                                       | hello                                                                                                                   |
|       24 |        8 | Adios                                      | goodbye                                                                                                                 |
|       25 |       10 | Birds                                      | The birds is the words.                                                                                                 |
|       27 |        8 | Correr                                     | to run                                                                                                                  |
|       28 |       34 | Skippidy-Boo                               | A best friend                                                                                                           |
|       29 |        8 | ¿Como estás?                               | How are you?                                                                                                            |
|       30 |        8 | estudiar                                   | to study                                                                                                                |
|       31 |        8 | aprender                                   | to learn                                                                                                                |
|       32 |       34 | Hotsy-Totsy                                | perfect; similar to cat's pajamas                                                                                       |
|       33 |       34 | Horsefeathers                              | explitive; what someone said is a crock of it                                                                           |
|       34 |       38 | Name the two primary fonts of manly wisdom | The father and the illustrious Uncle                                                                                    |
|       35 |       10 | Reindeer                                   | Are reindeer really considered wildlife?  This question has plagued the North Pole research community for decades.      |
|       43 |          | card 1                                     | back 1                                                                                                                  |
|       47 |       45 | Ripcord                                    | Burton Snowboards                                                                                                       |
|       48 |       45 | Head Space                                 | GNU                                                                                                                     |
|       49 |       45 | Foundation                                 | Arbor                                                                                                                   |
|       50 |       45 | Defenders of Awesome                       | CAPiTA                                                                                                                  |
|       51 |       45 | Darkside                                   | K2                                                                                                                      |
|       52 |       45 | Pulse                                      | Salomon                                                                                                                 |
|       53 |       45 | Custom                                     | Burton                                                                                                                  |
|       54 |       45 | Artifact                                   | Rome                                                                                                                    |
|       55 |       45 | AlterEgo                                   | Ride                                                                                                                    |
|       56 |       45 | DeepThinker                                | Burton                                                                                                                  |
|       57 |       45 | Hovercraft                                 | Jones                                                                                                                   |
|       58 |       46 | len(x)                                     | returns the length of x (s, L or D)                                                                                     |
|       60 |       46 | min(L)                                     | returns the minimum value in L                                                                                          |
|       61 |       46 | max(L)                                     | returns the maximum value in L                                                                                          |
|       62 |       46 | sum(L)                                     | returns the sum of the values in L                                                                                      |
|       64 |       46 | abs(n)                                     | returns the absolute value of n                                                                                         |
|       70 |        4 | Li                                         | Lithium                                                                                                                 |
|       71 |       47 | my card                                    | my card back                                                                                                            |
|       72 |        4 | Si                                         | Silicon                                                                                                                 |
|       73 |        4 | Cu                                         | Copper                                                                                                                  |
+----------+----------+--------------------------------------------+-------------------------------------------------------------------------------------------------------------------------+

In [7]:
#helper functions to use to access database (CRUD function- create, read, update, delete functions)

#functions to CREATE entries

#function to call to add a new user to the user table when they create account
def add_user(new_username, new_password, new_email):
    id = mycursor.lastrowid
    sql = "INSERT INTO users (username, password, email) VALUES (%s, %s, %s)"
    val = (new_username, new_password, new_email)
    mycursor.execute(sql, val)
    mydb.commit()
    print(mycursor.rowcount, "record inserted.")
    
#function to call when user creates a new deck to add into database (will use a session variable to pass in username) 
def add_deck(username, public, deckname, category):
    id = mycursor.lastrowid
    sql = "INSERT INTO users (deckname,public, category, username) VALUES (%s, %s, %s, %s)"
    val = (deckname, public, category, username)
    mycursor.execute(sql, val)
    mydb.commit()
    print(mycursor.rowcount, "record inserted.")
    
#function to create new card
def add_card(deckID, cardFront, cardBack):
    id = mycursor.lastrowid
    sql = "INSERT INTO cards (deckID, cardFront, cardBack) VALUES (%s, %s, %s)"
    val = (deckID,cardFront, cardBack)
    mycursor.execute(sql, val)
    mydb.commit()
    print(mycursor.rowcount, "record inserted.")

In [9]:
add_card(4,'Cu','Copper')

1 record inserted.

In [ ]:
#functions to READ/retrieve data from database

#function to get user info from database
def get_user(username):
    sql = "SELECT * FROM users WHERE username = %s"
    val=(username, )
    mycursor.execute(sql,val)
    myresult = mycursor.fetchall()
    if len(myresult) == 0:
        return None
    else:
        return myresult[0]

In [ ]:
#sql = "SELECT * FROM users WHERE username = 'Allie'"
#mycursor.execute(sql)
#myresult = mycursor.fetchall()
#for x in myresult:
#    print(x)

In [ ]:
x = get_user('Allie')
print(x)

In [ ]:
sql = "SELECT * FROM users"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

In [ ]:
#add_user('Tom', 'qwerty123', 'tom@gmail.com')

In [ ]:
#get all public decks
def get_public_decks():
    sql="SELECT deckname, iddecks FROM decks WHERE public = 1"
    mycursor.execute(sql)
    myresult = mycursor.fetchall()
    if len(myresult) == 0:
        return None
    else:
        return myresult

In [ ]:
get_public_decks()

In [ ]:
def get_deckID(deckname):
    sql = "SELECT iddecks FROM decks WHERE deckname = %s"
    val=(deckname, )
    mycursor.execute(sql,val)
    myresult = mycursor.fetchall()
    if len(myresult) == 0:
        return None
    else:
        return myresult[0][0]
def remove_deck(username, deckname):
    val1 = (get_deckID(deckname), )
    sql1 = ("DELETE cards FROM cards WHERE deckID = %s")
    print(val1)
    mycursor.execute(sql1,val1)
    sql2 = ("DELETE decks FROM decks WHERE username = %s AND deckname = %s")
    val2=(username, deckname)
    mycursor.execute(sql2,val2)
    mydb.commit()
    return("Deck Deleted")

In [ ]:
remove_deck('Hannah','Chemistry')

In [ ]:
def remove_card(card_id):
    sql=("DELETE cards from cards WHERE idcards = %s")
    val=(card_id, )
    mycursor.execute(sql,val)
    mydb.commit()
    return("Card Deleted")

In [ ]:
remove_card(69)