In [30]:
import mysql.connector

mydb = mysql.connector.connect(
  host="35.223.161.145",
  user="root",
  password=""
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f4ccc1631f0>

In [31]:
mycursor = mydb.cursor()

mycursor.execute("use flashcards")

mycursor.execute("SELECT * FROM users")


myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(1, 'Allie', 'Password123', 'allie@gmail.com')
(2, 'Joe', 'hello123', 'joe@gmail.com')
(3, 'Bob', 'myPassword1', 'bob@gmail.com')
(4, 'Hannah', '123abc', 'hannah@gmail.com')

In [32]:
result = mycursor.execute("SELECT * FROM decks")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

(1, 'data structures', 'public', 'computer science', 'Bob')
(2, 'operating systems', 'public', 'computer science', 'Bob')
(3, 'World War 1', 'private', 'History', 'Hannah')
(4, 'World War 2', 'private', 'History', 'Hannah')
(5, 'chemistry', 'private', 'Science', 'Allie')

In [33]:
mycursor.execute("SELECT * FROM cards")
result2 = mycursor.fetchall()
for x in result2:
    print(x)

(1, '1', 'Binary Search Tree', ' rooted binary tree whose internal nodes each store a key greater than all the keys in the nodes left subtree and less than those in its right subtree')
(2, '1', 'Hash table', '  A hash table uses a hash function to compute an index, also called a hash code, into an array of buckets or slots, from which the desired value can be found')
(3, '1', 'Linked List', ' a linked list consists of nodes where each node contains a data field and a reference(link) to the next node in the list.')
(4, '2', 'Kernel', ' Provides file-system, CPU scheduling, and other OS functionality through system calls')
(5, '2', 'Mode Bit', 'The computer uses the mode bit to determine if the system is in kernel or user mode.')
(6, '2', 'Process', 'Program in execution. Operating-system processes execute system code, and user processes execute user code.')

In [38]:
sql = "SELECT \
  decks.deckname AS deckname, \
  cards.cardFront AS cardfront, \
  cards.cardBack AS cardback \
  FROM decks \
  INNER JOIN cards ON decks.iddecks = cards.deckID "

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'INNER JOIN cards ON decks.iddecks = cards.deckID' at line 1