In [5]:
%load_ext sql
%sql sqlite:////home/jovyan/Software-dev/SoftDev.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [6]:
%%sql
create table users(
       userID       int ,
       username        varchar, 
       password        varchar,             
       email     varchar            
);

   sqlite://
 * sqlite:////home/jovyan/Software-dev/SoftDev.db
Done.

[]

In [7]:
%%sql
create table decks(
       deckID       int ,
       deckName        varchar, 
       public        varchar,             
       category     varchar            
);

   sqlite://
 * sqlite:////home/jovyan/Software-dev/SoftDev.db
Done.

[]

In [8]:
%%sql
create table cards(
       cardID       int ,
       deckID        varchar, 
       cardFront        varchar,             
       cardBack    varchar            
);

   sqlite://
 * sqlite:////home/jovyan/Software-dev/SoftDev.db
Done.

[]

In [9]:
%%sql
insert into users values(1,'Allie','Password123', 'allie@gmail.com');
insert into users values(2,'Joe','hello123', 'joe@gmail.com');
insert into users values(3,'Bob','myPassword1', 'bob@gmail.com');
insert into users values(4,'Hannah','123abc', 'hannah@gmail.com');

   sqlite://
 * sqlite:////home/jovyan/Software-dev/SoftDev.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [10]:
%%sql
select * from Users;

   sqlite://
 * sqlite:////home/jovyan/Software-dev/SoftDev.db
Done.

[(1, 'Allie', 'Password123', 'allie@gmail.com'),
 (2, 'Joe', 'hello123', 'joe@gmail.com'),
 (3, 'Bob', 'myPassword1', 'bob@gmail.com'),
 (4, 'Hannah', '123abc', 'hannah@gmail.com')]